<?xml version="1.0"?>
<!--
/**
 * Copyright 2015 Magento. All rights reserved.
 * See COPYING.txt for license details.
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="../../../../../lib/internal/Magento/Framework/ObjectManager/etc/config.xsd">
    <preference for="Magento\Bundle\Pricing\Adjustment\BundleCalculatorInterface" type="thousandmonkeys\BundleDefaultPrice\Pricing\Adjustment\DefaultCalculator" />
    <preference for="Magento\Bundle\Model\Product\Attribute\Source\Price\View" type="thousandmonkeys\BundleDefaultPrice\Model\Product\Attribute\Source\Price\View" />
    <preference for="Magento\Bundle\Block\Catalog\Product\View\Type\Bundle\Option\Radio" type="thousandmonkeys\BundleDefaultPrice\Block\Catalog\Product\View\Type\Bundle\Option\Radio" />
    <preference for="Magento\Bundle\Block\Catalog\Product\View\Type\Bundle\Option\Select" type="thousandmonkeys\BundleDefaultPrice\Block\Catalog\Product\View\Type\Bundle\Option\Select" />
</config>